@import url(header.css);
@import url(footer.css);


/* sub_visual */
    #sub7_visual{width: 100%;margin-top: 100px;
    background-color: #0779bd;}
    #sub7_visual .vbox{margin: 0 auto;width: 1200px;height: 150px;}
    #sub7_visual .vbox img{width: 100%;}

/* sub7 style */
#conWrap{width: 1200px;height: auto;margin: auto;}
#conWrap::after{content: '';display: block;clear: both;}

#conWrap #sub2{width: 1200px;padding-top: 50px;
border-bottom: 1px solid #aaa;}
#conWrap #sub2 h2{padding-bottom: 20px;color: #555;}

#conWrap #nav{width: 200px;margin-top: 100px;
    float: left;background-color: #fff;}
    
#conWrap #nav .navi{width: 200px;margin-bottom: 2px;margin-top: 10px;}
#conWrap #nav .navi li.group{margin-bottom: 3px;}
#conWrap #nav .navi .msub{list-style: none;margin: 0;padding: 0;}

#conWrap #nav .title{height: 35px;margin-bottom: 2px;padding-left: 5px;
line-height: 30px;color: #fff;background-color: #369;cursor: pointer;}
#conWrap #nav .navi .group .msub li{height: 35px;margin-bottom: 2px;line-height: 30px;
background: #eee url(../images/dot2.png) no-repeat 5px 10px;background-size: 8px 8px;}
#conWrap #nav .navi .group .msub li a{text-decoration: none;font-size: 13px;
display: block;width: 100%;height: 100%;color: #333;text-indent: 20px;}
#conWrap #nav .navi .group .msub li:hover{background: #eee url(../images/dot1.png) no-repeat 5px 10px;background-size: 8px 8px; }
#conWrap #nav .navi .group .msub li:hover a{color: #369;font-weight: bold;}

#conWrap #con1{width: 1200px;height: 800px;}
#conWrap #con1 .box7{width: 100%;height: 100%;}

#conWrap #con1 .box7 .cbox1{width: 1000px;height: 50px;}
#conWrap #con1 .box7 .cbox1 h3{margin-left: 300px;margin-top: 10px;color: #369;}
#conWrap #con1 .box7 .cbox1 p{margin-top: 5px;margin-left: 300px;color: #555;}

#conWrap #con1 .box7 .cbox2{margin-top: 80px;margin-left: 300px;
width: 850px;height: 110px;background-color: #fcc;}
#conWrap #con1 .box7 .cbox2 p{padding: 20px 10px;line-height: 150%;}

#conWrap #con1 .box7 .cbox3{margin-top: 80px;width: 1000px;height: 150px;margin-left: 300px;}
#conWrap #con1 .box7 .cbox3 p{font-weight: bold;margin-bottom: 15px;}
#conWrap #con1 .box7 .cbox3 textarea{width: 850px;height: 150px;}
fieldset{border: 0;}
legend{font-size: 0;}
#conWrap #con1 .box7 .cbox3_1{margin-top: 30px;width: 1000px;height: 30px;}
#conWrap #con1 .box7 .cbox3_2{width: 500px;height: 50px;margin-top: 50px;
margin-left: 200px;}
#conWrap #con1 .box7 .cbox3_2 input{width: 200px;height: 50px;
border-radius: 50px;background-color: #369;color: #fff;font-size: 1em;border: 0;outline: none;
cursor: pointer;}